
$font-family: 'Rubik';
$block-width: 80%;
%flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


%flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Rubik';
}
.site-container{
    width: 100%;
}


@media screen and (min-width: 1100px) {
    *{
        font-size: 16px;
    }

    .header{
        width: 100%;

        &__mobile{
            
            &-icon{
                display: none;

            }
        }

    }
    .logo{
        width: 20%;
    }
    nav{
        width: 40%;
        //min-width: 400px;
    }
    
}

@media screen and (max-width: 992px) {
    *{
        font-size: 12px;
    }

    .introduction{

        &__block{
            margin-top: 0 !important;
            box-shadow: none !important;
        }
    }
    nav{
        display: none !important;
    }
    
}

@media screen and (max-width: 768px) {
    *{
        font-size: 10px;
    }

    .header{
        &__social{
            width: 35% !important;
        }
    }

    .sections{
        a{
            width: 100% !important;
        }
    }

    .workwith{
        &-item{
            width: 100% !important;
        }
    }

    .questionnaire{
        &__left{
            min-width: 100% !important;
        }
    }
    
}

@media screen and (max-width: 600px) {


    
}

@media screen and (max-width: 420px) {


    
}

.header{
    @extend %flex-row;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    .logo{
        width: 20%;
        
        img{
            width: 100%;
        }
    }

    &:hover{
        nav{
            a{
                color: rgba(0,0,0,.4);
            }

            a:hover{
                color: black;
                
        
            
            }
        }
    }


    &__social{
        @extend %flex-row;
        align-items: center;

        width: 20%;

        a{
            width: 30px;
            display: block;
   
        }
        
    }


    &__mobile{
        &-icon{
            button{
                color: black;
                display: block;
                width: 50px;
                background: none;
                margin-top: 0;
            }
        }
    }


}

nav{
    @extend %flex-row;
    align-items: center;
   // display: visible;
    
    a{
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 0.9em;
        transition: all ease-in-out .3s;

    }


  
}

.nav__mobile{
    width: $block-width;
    margin: 0 auto;
    
    li{
        margin-top: 20px;
        //text-align: center;

        a{
            color: black; //зделать цвет глобальным
            text-decoration: none;
            font-size: 1.5em;
        }
    }
}

.nav__mobile[aria-expanded="false"]{
    display: none;
}

.nav__mobile[aria-expanded="true"]{
    display: block;
}

.introduction{
    width: 80%;
    
    margin: 0 auto;
    margin-top: 50px;
    &__img{
        //position: relative;
        z-index: 1;

        img{
            display: block;
            width: 100%;
        }


    }

    &__block{
        margin: 0 auto;
        width: 70%;
        height: 300px;
        background-color: white;
        margin-top: -100px;
        z-index: 2;
        position: relative;
        @extend %flex-column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 20px rgb(0 0 0 / 5%);
        span{
            
            display: block;
            font-size: 4em;
            color: black;
        }

        a{
            @extend %flex-row;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            font-size: 0.9em;
            height: 50px;
            width: 200px;
            background-color: rgb(46, 111, 110);
            color: white;
            text-decoration: none;
            border-radius: 10px;
            margin-top: 40px;
        }
    }
}

.latest{

    width: $block-width;
    margin: 0 auto;
    margin-top: 100px;

    h2{
        font-size: 3em;
    }

    &__container{
        @extend %flex-row;
        flex-wrap: wrap;
    }

    &__item{
        width: 32%;
        margin-top: 20px;

        img{
            display: block;
            width: 100%;
        }
    }
}

.workwith{
    width: $block-width;
    margin: 0 auto;
    margin-top: 100px;

    h2{
        font-size: 3em;
    }
    
    p{
        font-size: 1.5em;
        color: black;
        text-align: center;
        font-weight: 200;
    }

    &__container{
        @extend %flex-row;
        justify-content: center;
        margin-top: 70px;
    }

    &-item{
        width: 33%;

        h3{
            font-size: 2em;
            color: black;
            text-align: center;
            font-weight: 400;
        }

        p{
            font-size: 1.2em;
            margin-top: 20px;
            line-height: 1.5em;
        }

        a{
            display: block;
            font-size: 1.5em;
            margin: 0 auto;
            margin-top: 50px;
            text-decoration: none;
            color: black;
            border-bottom: 1px solid #ddd;
            text-align: center;
            width: fit-content;
            font-weight: 200;
            transition: all ease-in-out 0.2s;
            box-shadow: inset 0 -7px 0 0 #ddd;
        }

        a:hover{
            background-color: #ddd;
        }
    }
    
}

.clients{
    width: $block-width;
    margin: 0 auto;
    margin-top: 100px;

    h2{
        font-size: 3em;
    }

    &__list{
        @extend %flex-row;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;

    }

    &-item{
        width: fit-content;
        margin-top: 50px;
        //max-width: 200px;


        img{
            width: 100%;
            display: block;
            
        }
    }
}

.inspiration{
    @extend %flex-row;
    align-items: center;
    width: $block-width;
    margin: 0 auto;
    margin-top: 200px;


    h3{
        font-size: 2em;
        color: black;
        text-align: center;
        font-weight: 400;
    }

    &__subscribe{
        @extend %flex-row;
        input{
            outline: none;
            border: 1px solid #ddd;
            color: black;
            height: 50px;
            width: 320px;
            padding: 20px;
            font-size: 0.8em;
        }

        a{
            @extend %flex-row;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 0.7em;
            height: 50px;
            width: 200px;
            background-color: rgb(46, 111, 110);
            margin-left: 10px;
            color: white;
            text-decoration: none;
        }

    }
}

.questionnaire{
    @extend %flex-row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;

    span{
        display: block;
        color: black;
        font-size: 1.3em;
    }

    .input-row{
        @extend %flex-row;
        align-items: flex-end;
        width: 100%;
        margin-top: 20px;

        span{
            display: block;
            color: black;
            font-size: 1.3em;
        }

        &__text{
            outline: none;
            border: 1px solid #ddd;
            color: black;
            height: 30px;
            width: 300px;
            padding: 20px;
            font-size: 0.8em;
        }
    }

    .input-radio{
        margin-top: 50px;

        p{
            color: black;
            font-size: 1.2em;
            margin-bottom: 10px;

        }
        label{
            color: black;
            cursor: pointer;
            font-weight: 400;

        }

        input{
            margin-top: 10px;
            cursor: pointer;
            margin-right: 10px;
        }
    }

    .input-textarea{
        width: 100%;
        margin-top: 30px;
        textarea{
            width: 100%;
            color: #000000;
            padding: 10px;
        }
        
    }
    .input-file{
        margin-top: 30px;
        width: 200px;
        height: 40px;
        background: grey;
        z-index: 100;
        cursor: pointer;
        svg{
            fill: #000000;
            width: 20px;
            cursor: pointer;
            transform: rotate(30deg);
    

        }

        input{
            display:none;
            //z-index: 100;
            width: 100%;
            height: 100%;

        }

        label{
            @extend %flex-row;
            height: 100%;

            justify-content: center;
            align-items: center;
        }
        span{
            display: block;
            color: black;
            font-size: 1.3em;
            cursor: pointer;

        }
    }

    &__left{
        width: 40%;
        min-width: 300px;
    }


}

button{
    outline: none;
    border: none;
    @extend %flex-row;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 0.9em;
    height: 50px;
    width: 250px;
    background-color: rgb(46, 111, 110);
    color: white;
    text-decoration: none;
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 40px;
}






//OLD ONES
.info{
    width: 80%;
    margin: 0 auto;
    margin-top: 140px;
    text-align:justify;
    //display: flex;
    //flex-direction: row;
    //align-items: flex-end;
    p{
        color: rgba(255,255,255, 0.7);
        font-weight: 300;
        font-size: 13px;
        font-style: normal;
        letter-spacing: .13em;
        line-height: 1.4em;
        display: block;
    }
}

.examples{
    @extend %flex-column; 
    padding: 0 30px;
  
    width: 100%;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;

    &__images{
        @extend %flex-row; 
        width: 100%;

        &-left{
            padding-bottom: 30px;
            border-bottom: 3px solid rgba(0,0,0, .15);
            width: 30%;
            img{
                width: 100%;
            }
        }

        &-right{
            width: 65%;
            padding-bottom: 30px;
            border-bottom: 3px solid rgba(0,0,0, .15);
            .swiper{
                width: 100%;

                img{
                    width: 100%;
                }
            }
        }
    }

    &__info{
        @extend %flex-row;
        justify-content: flex-start;
        width: 100%;
        margin-top: 30px;

        span{
            color: black;
            //font-size: .9em;
        }

        p{
            color: rgba(0,0,0,.6);
            //font-size: .9em;

        }
    }

    &__prop{
        margin-right: 30px;
    }
}


.sections{
    @extend %flex-row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;

    a{
        width: 30%;
        height: 200px;
        min-width: 300px;
        transition: 0.4s ease-in-out all;
        margin-top: 30px;
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transition: 0.4s ease-in-out all;

        }
        span{
            font-size: 14px;
            color: rgba(0,0,0,.6);
        }
  

        &:hover{
            img{
                opacity: 0.6;
            }
            a{
                text-decoration: none;
            }
        }
    }

    a:hover{
        text-decoration: none;
    }


}

h2{
    font-size: 25px;
    font-weight: 400;
    color: rgba(0,0,0,1);
    text-align: center;

}



.team{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;;
    &__list{
        @extend %flex-row;
        width: 100%;
        &-item{
            width: 28%;
            margin-top: 50px;;
            @extend %flex-column;


            img{
                display: block; //вывести в отадбную мб
                width: 100%;
            }
            
            span{
                text-align: center;
            }
            span:nth-child(2){
                font-weight: 300;
                color: #000000;
                margin-top: 5px;

            }

            span:nth-child(3){
                font-weight: 300;
                color: rgba(0,0,0,.7);
            }
        }
    }
}

.footer{
    @extend %flex-column;
    margin-top: 100px;
    padding-bottom: 20px;
    &__logo{
        max-width: 200px;
        img{
            display: block;
            width: 100%;
        }
    }

    &__links{
        @extend %flex-row;
        width: 150px;
        justify-content: space-between;

        a:hover{
            svg{
                fill: rgb(225,40,50);
            }
        }
        svg{
            width: 30px;
            height: 30px;
            fill: black;
            transition: all ease-in-out .3s;
        }
    }

    &__contacts{
        //text-decoration: none;
        color: black;
        font-size: 1em;
        margin-top: 20px;
    }
}  

.residence{
    margin-top: 50px;
    padding: 0 40px;
    h2{
        font-size: 4em;
        font-weight: 400;
        color: rgba(0,0,0,1);
        text-align: center;
    }

    h3{
        font-size: 2em;
        font-weight: 400;
        color: rgba(0,0,0,0.8);
        text-align: center;
        margin-top: 10px;
    }

    &__img{
        
        margin: 0 auto;
        margin-top: 50px;
        img{
            width: 100%;
            display: block;
        }
    }

    &__about{
        margin-top: 30px;
        @extend %flex-row;

    }

    &__plans{
        @extend %flex-row;
        flex-wrap: wrap;
        margin: 50px;
       

        &-item{
            max-width: 40%;

            img{
                width: 100%;
                display: block;
            }
        }
    }

    p{
        font-size: 1em;
        font-weight: 300;
        color: rgba(0,0,0,1);
        text-align: center;

    }

    .swiper{
        margin-top: 50px;

        width: 100%;
       // height: 300px;
       

        img{
            display: block;
            width: 100%;
        }
    }
}












